.board {
  border-color: black;
  border-width: 2px;
  border-style: solid;
  display: inline-block;
}

.board.waiting {
  background-color: #DDD;
}

.board.won {
  background-color: #8F8;
}

.board.lost {
  background-color: #F88;
}

.board .row .cell {
  width: 50px;
  height: 50px;
  font-size: 50px;
  line-height: 50px;
  text-align: center;
  display: inline-block;
  overflow: hidden;
}

.board .row .cell:hover {
  background-color: #EEE;
}
