.board {
  display: inline-block;
}

.board.won {
  background-color: #8F8;
}

.board.lost {
  background-color: #F88;
}

.board .row .cell {
  width: 50px;
  height: 50px;
  font-size: 50px;
  line-height: 50px;
  text-align: center;
  display: inline-block;
  overflow: hidden;
}

.board:not(.waiting):not(.won):not(.lost) .row .cell:hover {
  background-color: #B2EBF2;
}

.cell {
  color: #FF4081;
  font-family: 'Open Sans', sans-serif;
  border: #00BCD4 solid 1px;
  border-bottom: 0;
}

.board.waiting .cell {
  color: #BDBDBD;
  border-color: #BDBDBD;
}

.row-0 {
  border-top: none;
}

.col-0 {
  border-left: none;
}

.row-2 {
  border-bottom: none;
}

.col-2 {
  border-right: none;
}